@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital@1&family=Montserrat:wght@400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 87.5rem;
}

/* 
=============================================
                    header
=============================================
 */

header {
  background-image: url(./images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 13.95rem;
}
.hero-img {
  position: absolute;
  right: 40px;
  bottom: 0;
}
@media (max-width: 1200px) {
  .hero-img {
    right: 0;
  }
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    rgba(237, 27, 51, 0.9),
    rgba(68, 46, 130, 0.8)
  );
}
.navbar-expand-lg {
  padding: 2rem;
}
.header__container {
  max-width: 103.125rem;
  margin: 0 auto;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: 700;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: whitesmoke;
}
.navbar-light .navbar-toggler-icon {
  background-image: url(./images/bar.png);
}
.navbar-light .navbar-toggler {
  border: 1.5px solid white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}
/* hero section */
.content-container .hero-img {
  max-width: 52.5rem;
  max-height: 49.0625rem;
}

.hero-img img {
  height: 39.5rem;
}
.sub-title,
.about-sub-title {
  font-family: "Cormorant Infant", serif;
  font-size: 2.5rem;
  color: white;
  line-height: 1;
}
.title,
.about-title {
  font-size: 4rem;
  font-weight: 600;
  color: white;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.body-text,
.about-body-text {
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 4rem;
}
.btn-container {
  margin-left: 3.125rem;
}

.btn-container .btn {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  padding: 1rem 2.5rem;
  border-radius: 100vw;
  transition: all 250ms ease-in;
}
.btn-container .btn-pink {
  background-color: #f42267;
  margin-right: 1.25rem;
}

@media (max-width: 1210px) {
  .btn-container {
    margin-left: 0;
  }
  .btn-container .btn-pink {
    margin-right: 0.75rem;
  }
}
@media (max-width: 1110px) {
  .title {
    font-size: 3rem;
  }
  .body-text {
    font-size: 1rem;
  }
  .btn-container .btn {
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
  }
  .hero-img img {
    height: 37.5rem;
  }
}
@media (max-width: 992px) {
  .hero-img img {
    height: 30rem;
  }
  .title {
    margin-bottom: 1rem;
  }
  .body-text {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 768px) {
  .hero-img {
    display: none;
  }
  .title {
    margin-bottom: 2rem;
  }
  .body-text {
    margin-bottom: 3.5rem;
  }
  header {
    padding-bottom: 6rem;
  }
  .logo-img {
    width: 70%;
  }
  a.navbar-brand {
    width: 80%;
    margin-right: 0;
  }

  .navbar-toggler-icon {
    width: 20px;
    height: 20px;
  }
}
.btn-container .btn-pink:hover {
  background-color: #e00c51;
}
.btn-container .btn-purple {
  background-color: #68318d;
}
.btn-container .btn-purple:hover {
  background-color: #532770;
}

/* 
====================================
about
====================================
 */

section#about {
  color: black;
  background-image: url(./images/World\ Map.png);
  background-size: cover;
  background-position: center;
  padding: 4.75rem 0;
  z-index: 999;
  background-color: transparent;
}
.watch-cotainer {
  padding-left: 4rem;
}
@media (max-width: 992px) {
  .watch-cotainer {
    padding: 4rem 10rem 0;
  }
}
@media (max-width: 768px) {
  .watch-cotainer {
    padding: 4rem 5rem 0;
  }
}
@media (max-width: 576px) {
  .watch-cotainer {
    padding: 4rem 2rem 0;
  }
}

.about-sub-title {
  color: #484848;
  font-size: 2rem;
}
.about-title {
  font-size: 3.125rem;
  color: #484848;
  font-weight: 600;
}

.about-body-text {
  color: #484848;
  margin-bottom: 3.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 1.5rem;
}
.tab-button-container p {
  margin-top: 1rem;
  display: inline-block;

  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  color: #484848;
  padding: 0.5rem 1.25rem;
  border-radius: 100vw;
  transition: all 250ms ease-in;
  cursor: pointer;
  white-space: nowrap;
}
.tab-button-container p:hover {
  background-color: #f42267;
  color: white;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
}
.tab-button-container p.active-tab-btn {
  background-color: #f42267;
  color: white;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
}
.read-btn {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
  color: white;
  padding: 0.85rem 2rem;
  border-radius: 10px;
  transition: all 250ms ease-in;
  background-color: #f42267;
  position: relative;
  z-index: 999;
}
.read-btn:hover {
  background-color: #df0048;
}

.read-button-container {
  display: inline-block;
  position: relative;
}
.read-btn-buttom {
  width: 100%;
  height: 2rem;

  border-radius: 10px;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background-color: #ff5990;
}

@media (max-width: 768px) {
  .read-button-container {
    scale: 0.9;
  }
}

/* 

==================================
           Stats Section
==================================
 */

#stats {
  background-color: #4b2d7f;
  padding: 5rem 0;
  margin-top: -5rem;
  text-align: center;
  color: white;
  position: relative;
}
.stats-content-container {
  padding: 0 3.5rem;
  position: relative;
}

.stats-content-container .stats-icon {
  margin-bottom: 1.75rem;
}

.stats-content-container .stats-title {
  font-size: 3.125rem;
  font-weight: 600;
}
.stats-subtile {
  font-size: 1.5625rem;
  line-height: 1.1;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

.stats-subtile span {
  font-size: 1.875rem;
  font-weight: 600;
}
.stats-body {
  font-size: 0.9375rem;
  line-height: 1.6;
  font-weight: 400;
  color: #adadad;
}
@media (max-width: 576px) {
  .stats-content-container {
    padding: 0 2.5rem;
  }
  .stats-content-container .stats-icon {
    margin-bottom: 1.5rem;
  }

  .stats-content-container .stats-title {
    font-size: 2.75rem;
  }
  .stats-subtile {
    font-size: 1.25rem;

    margin-bottom: 2rem;
  }

  .stats-subtile span {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.bg-blue {
  background-color: #40286a;
}

.bg-blue::before {
  content: "";
  position: absolute;
  top: -80px;
  background-color: #40286a;

  height: 5rem;
  left: 0;
  right: 0;
}
.bg-blue::after {
  content: "";
  position: absolute;
  bottom: -95px;
  background-color: #40286a;

  height: 6rem;
  left: 0;
  right: 0;
}
@media (max-width: 992px) {
  .mt {
    margin-top: 6rem;
  }
  .bg-blue {
    background-color: transparent;
  }
  .stats-content-container.bg-blue::after {
    content: none;
  }
  .stats-content-container.bg-blue::before {
    content: none;
  }
}

/* 
======================================
              Grow section
=======================================
 */

#grow {
  background-image: url(./images/creative-bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  text-align: center;
  padding: 5rem 0;
  position: relative;
  background-color: rgba(103, 102, 194, 0.7);
  background-blend-mode: overlay;
}
#grow .container {
  padding: 0 15rem;
}
#grow .body-text {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 2rem;
}

#grow .read-button-container {
  display: inline-block;
}
#grow .about-title {
  color: white;
}

@media (max-width: 992px) {
  #grow .container {
    padding: 0 5rem;
  }
}

/* 
=======================================
          Features section
=======================================
 */

#features {
  padding: 6.25rem 0;
}
#features .about-sub-title {
  margin-bottom: 0.3rem;
  color: #1d1d1d;
}
#features .about-body-text {
  margin-bottom: 3.75rem;
  color: #1d1d1d;
}
#features .article-title {
  font-size: 1.5625rem;
  font-weight: 600;
  color: #1d1d1d;
}
#features .article-text {
  font-size: 0.875rem;
  color: #484848;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 2.5rem;
}
.features-content-container {
  padding: 0 3rem 0 4.5rem;
}

.article-icon {
  max-height: 4.4375rem;
  margin-bottom: 0.75rem;
}
.video-img-container {
  margin-top: 4.375rem;
}
.img-thumbnail-container {
  position: relative;
}

.video-img {
  border-radius: 10px;

  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}
.play-btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  cursor: pointer;
}
article .read-button-container,
#products .read-button-container,
#contact .read-button-container {
  display: inline-block;
}

@media (max-width: 576px) {
  article {
    text-align: center;
  }
  .features-content-container {
    padding: 0 2rem;
  }
}

/*
===================================================
                products section 
=================================================== 
 */

#products {
  padding: 4.75rem 0 6.875rem;
  background-color: #f1f1f1;
}
#products .about-title {
  color: #333;
}
#products .about-body-text {
  margin-bottom: 0;
}
#products .tab-button-container {
  margin-top: 1rem;
}
#products .tab-button-container p {
  color: #333;
}
#products .tab-button-container p.active-tab-btn {
  color: white;
}
#products .tab-button-container p:hover {
  color: white;
}
#products .tab-button-container .col {
  padding: 0;
}
.products-content-container {
  text-align: center;
}

/* products-gallary */
#products .products-image {
  overflow: hidden;

  margin: 1rem 0;
  transition: all 350ms ease-in-out;
}
#products .products-image img {
  width: 100%;
  height: 100%;
  display: inline-block;

  cursor: pointer;
  border-radius: 10px;
}

#products .products-image:hover {
  scale: 1.03;
}
.products-image-container {
  margin-top: 3.5rem;
}

#products .read-button-container {
  margin-top: 5rem;
}

/*
==================================================
                Clients logo Section 
================================================== 
 */

#clients-logo {
  background-color: #4b2d7f;
  padding: 7rem 0;
}
.clients-logo-container {
  padding: 0 7rem;
}
#clients-logo img {
  display: inline-block;
  margin-top: 1rem 0;
}
#clients-logo .row .col-10 {
  align-self: center;
  text-align: center;
  margin: 1.5625rem 0;
}

/* 
===========================================
             Testimonial Sections
===========================================
 */
#testimonial {
  background-image: url(./images/client-bg.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}
#testimonial .about-title {
  color: white;
}
.testimonial-content-container {
  margin-top: 4rem;
}
.testimonial-content-container p.sub-title {
  margin-bottom: 0.2rem;
}
.testimonial-content {
  margin-top: 6rem;
}
.testimonial-text span {
  font-size: 8.5rem;
  color: #f42267;
  line-height: 0;
  position: absolute;
  top: 1.2rem;
  left: -3.5rem;
}
.testimonial-body {
  position: relative;
  margin: 0 0 4rem 2rem;
  font-style: italic;
  font-size: 1.375rem;
  font-weight: 200;
}
.testimonial-container {
  padding: 0 8.5rem;
}
.ratings,
.clients-name {
  margin-left: 2rem;
}

.ratings {
  margin-bottom: 1.25rem;
}
.clients-name {
  font-size: 1.375rem;
}

@media (max-width: 1100px) {
  .testimonial-container {
    padding: 0 5.5rem;
  }
}

@media (max-width: 992px) {
  .testimonial-container {
    padding: 0 2rem;
  }

  .sub-title,
  .about-sub-title {
    font-size: 2rem;
  }
  .about-title {
    font-size: 3rem;
  }
  .testimonial-content {
    margin-top: 4rem;
  }
  .testimonial-body {
    margin: 0 0 3rem 2rem;

    font-size: 18px;
  }
  .testimonial-text span {
    font-size: 6.5rem;

    left: -3rem;
  }
  .ratings {
    margin-bottom: 1rem;
  }
  .clients-name {
    font-size: 1.25rem;
  }
  #testimonial .row {
    margin-left: 0;
    margin-right: 0;
  }
  #testimonial .col-md-6 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .client-testimonial-image {
    display: none;
  }
  #testimonial {
    padding-bottom: 2rem;
  }
}

@media (max-width: 576px) {
  .sub-title,
  .about-sub-title {
    font-size: 1.5rem;
  }
  .about-title {
    font-size: 2.5rem;
  }
  #clients-logo {
    padding: 5rem 0;
  }
}

/*
====================================================
                  contact section
====================================================
 */

#contact {
  background-image: url(./images/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 5rem 0;
  text-align: center;
}
#contact .about-title {
  color: white;
}
#contact h4 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
#contact p {
  font-size: 1.125rem;
  margin-bottom: 4rem;
}

#contact .form-control-lg {
  padding: 0.85rem 1rem;
}

#contact .form-control {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
}
#contact input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
#contact .read-btn {
  background-color: #4b2d7f;
}
#contact .read-btn:hover {
  background-color: #41266c;
}
#contact .read-btn-buttom {
  background-color: #a57ee9;
}

@media (max-width: 992px) {
  #contact .read-button-container {
    margin-top: 1.5rem;
    display: block;
  }
  #contact .read-btn {
    width: 100%;
  }
}
@media (max-width: 576px) {
  #contact h4 {
    font-size: 1.5rem;
  }
  #contact p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }
}
